**/node_modules
src/js/bundle.js
dist
todo.txt
.rpt2_cache
src/php/leaderboard.json
src/storage
src/storage/logs/*
src/python/__pycache__
src/assets/data/missions/custom/*
**/screenshots
**/.vscode
*.code-workspace